@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  
  
}
.header{
  width: 1280px;
  height: 80px;
}


.header .nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
}

.nav .logo{
  display: flex;
  align-items: center;
  
}
.nav .logo a{
  text-decoration: none;
  margin-left: 8px;
  font-family: 'Inter', sans-serif;
  color: #3A404E;
  font-weight: 500;
}

.nav .logo a:hover{
  text-decoration: underline;
}

.nav .menu ul{
  display: flex;
  list-style: none;
  
}
.nav .menu ul li{
  margin-left: 32px;
  
}
.nav .menu ul li a{
  text-decoration: none;
  color: #667085;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.nav .menu ul li a:hover{
  text-decoration: underline;
}

.nav .menu-buttons .btn-enter{
  text-decoration: none;
  color: #667085;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.nav .menu-buttons .btn-enter:hover{
  text-decoration: underline;
}

.nav .menu-buttons button{
  width: 112px;
  height: 44px;
  background-color: #8E2424;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  margin-left: 12px;
  color: #fff;
  cursor: pointer;
}
.nav .menu-buttons button:hover{
  text-decoration: underline;
}

.about{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 96px;
}

.about h2{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #8E2424;
  margin-bottom: 24px;
}
.about h4{
  font-size: 48px;
  font-family: 'Inter', sans-serif;
  color: #101828;
  font-weight: 600;
  margin-bottom: 24px;
}
.about p{
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #667085;
  text-align: center;
  font-weight: 400;
  width: 791px;
}


.metrics{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.metrics .metrics-card{
  width: 280px;
  height: 168px;
  margin-left: 32px;
}

.metrics-card h2{
  color: #8E2424;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.metrics-card h3{
  margin-top: 8px;
  margin-bottom: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}
.metrics-card p{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #667085;
}

.oportunities{
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.oportunities .oportunities-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oportunities .oportunities-desc h2{
  font-size: 14px;
  color: #8E2424;
  font-family: 'Inter';
  font-weight: 600;
  margin-bottom: 16px;
  
}
.oportunities .oportunities-desc h4{
  font-size: 48px;
  font-family: 'Inter', sans-serif;
  color: #101828;
  font-weight: 600;
  margin-bottom: 20px; 
}

.oportunities .oportunities-desc p{
  color: #667085;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 64px;
}

.oportunities .oportunities-desc img{
  
}

.oportunities .list-oportunities{
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  width: 768px;
  
  
  
}

.list-oportunities .card-oportunities h2{
  color: #101828;  
  margin-bottom: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.card-desc{
  border: 1px solid #EAECF0;
  padding: 24px 24px 28px 24px;
  border-radius: 16px;
  margin-bottom: 24px;

}
.card-desc h4{
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #101828;
}
.card-desc .card-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 32px;
  
  
}

.card-desc .card-info p{
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  color: #667085;
  margin-right: 24px;
}

.depositions{
  background-color: #c31919;
  opacity: 0.1;
  display: flex;
}


















